

:root {
    --bgr-clr: #f7f6f1;
}

*, *::before, *::after {
    box-sizing: border-box;
    
}

/*reset style*/
button {
    border: none;
    outline: none;
    background: none;
}

body {
    display: flex;
    justify-content: center;
    background-color: var(--bgr-clr);
}


